body {
    font-family: Arial, sans-serif;
   
}

h1 {
    text-align: center;
    margin:10px;
   
}

input, select, button {
    margin: 3px;
    padding: 5px;
}

ul {
    padding: 15px 0px;
    
}



li {
    
    justify-content: space-between; 
    display:flex;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

li div{
    flex:1;
    text-align:left;
}


button.edit , button.delete {
    text-align: right;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

img{
  width: 20px;
  height: 20px;
}
